<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.surya.integration1r2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="KEC Hostel"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:label="KEC" />
        <activity
            android:name=".Hostel"
            android:label="Hostel"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Devlp"
            android:label="Research and Development"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Login"
            android:label="Admin Login"
            android:parentActivityName=".Hostel" />
        <activity
            android:name=".Boys_Girls"
            android:label="Hostel"
            android:parentActivityName=".Hostel" />
        <activity
            android:name=".Uploads"
            android:label="Upload to Database"
            android:parentActivityName=".Login" />
        <activity
            android:name=".List"
            android:label="Hostel List"
            android:parentActivityName=".Boys_Girls" />
        <activity
            android:name=".TextUpload"
            android:label="Informations Upload"
            android:parentActivityName=".Uploads" />
        <activity android:name=".ShowDetails"
            android:label="Hostel List"/>
        <activity android:name=".searchData"
            android:parentActivityName=".Uploads"
            android:label="Search Data"></activity>
    </application>

</manifest>